@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Descopera produsele noastre!</h1>
    <a href="/Products/Index">
    <img src="~/images/poza.jpg" class="img-fluid" style="width: auto; height: auto" />
    </a>
</div>
